<%= stylesheet_link_tag "edit.css", :media => "all" %> 
<div class = 'container'>
    <h1>Edit Note</h1>

    <%= render "form", post: @post %>

    <br>

    <div>
    <%= link_to "Show this post", @post %> |
    <%= link_to "Back to posts", posts_path %>
    </div>
</div>

