.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-radius: 1vh;
}

#render-post{
    margin-bottom: 3%;
    margin-top: 3%;
    width: max-content;
    height: max-content;
}

#bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#note-manage{
    margin-bottom: 2vh;
}
